* {
    box-sizing: border-box;
  }

:root {
    --blue-color: #08A6E4;
    --pnink-color: #FB3B64;
    --green-color: #55DFB4;
    --white-color: #FFFFFF;
    --highgrey-color: #707070;
    --mediumgrey-color: #95989A;
    --lowgrey-color: #A5A5A5;
    --black-color: #000000;
  }





body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    width: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.container {
    margin: 0 auto;
    width: 1352px;
}











header {
    display: flex;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.95;
    position: sticky;
    top: -1px;
    z-index: 3;         /*Wg Adobe XD strona powinna nachodzić na nagłówek ale moim zdaniem jest dużo lepiej kiedy górne menu jest cały czas dostępne podczas przewijania strony*/
}

.page-header .container {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    font-family: 'Raleway';
    color: var(--blue-color);
    font-size: 37px;
    width: 142px;
    font-weight: 300;
}

.page-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page-nav-list a {
    text-decoration: none;
    color: var(--lowgrey-color);
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 15px;
}

li:nth-last-child(1) {
      margin-right: 136px;
}

li:nth-last-child(2) {
    margin-right: 94px;
}

li:nth-last-child(3) {
    margin-right: 95px;
}

li:nth-last-child(4) {
    margin-right: 95px;
}

.nav:hover {
    color: #000000;
    border-bottom: 3px solid var(--blue-color);
    padding-bottom: 24px;
    width: 100px;
}











.first {
    display: flex;
    margin-top: 130px;
    height: 712px;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.notebook {
    display: flex;
    height: 519px;
    width: 100%;
    opacity: 1;
    justify-content: center;
    padding-bottom: 10px;
}

.first-title {
    display: flex;
    font-family: 'Raleway';
    line-height: 57px;
    font-size: 49px;
    color: var(--black-color);
    justify-content: center;
    font-weight: 400;
}

.first-paragraph {
    display: flex;
    font-family: 'Open sans';
    line-height: 22px;
    font-size: 16px;
    color: var(--black-color);
    justify-content: center;
    padding-top: 20px;
    font-weight: 400;
}

.btn {
    display: flex;
    justify-content: center;
}
.first-btn {
    display: flex;
    width: 440px;
    height: 67px;
    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    opacity: 1;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    text-decoration: none;
    font-family: 'Open sans';
    font-weight: 700;
    font-size: 16px;
    color: var(--white-color);
  }

  .first-btn:hover {
    display: flex;
    width: 440px;
    height: 67px;
    background: var(--white-color) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 11px 1px var(--blue-color);
    color: var(--blue-color);
    align-items: center;
  }














.second {
    height: 431px;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.boxes {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
    z-index: 2;
}

.box1 {
    width: 116px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent url('../assets/Person.svg') 52px 0px no-repeat padding-box;
    opacity: 1;
}

.box2 {
    width: 176px;
    height: 167px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent url('../assets/Eye.svg') 77.78px 14.25px no-repeat padding-box;
    opacity: 1;
    margin-left: 185px;
    margin-right: 183px;
    margin-bottom: 121px;
}

.box3 {
    width: 163px;
    height: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent url('../assets/Catalog.svg') 82px 6px no-repeat padding-box;
    opacity: 1;
    margin-bottom: 121px;
}

.second-title {
    display: flex;
    font-family: 'Raleway';
    font-weight: 400;
    line-height: 42px;
    font-size: 36px;
    color: var(--black-color);
    margin-top: 100px;
    justify-content: center;
}

  .small-red-circle {
    position: relative;
    width: 62.71px;
	height: 62.71px;
	background-color: var(--pnink-color);
	border-radius: 100%;
    margin-bottom: 14.18px;
    margin-left: 21.73px;
    margin-right: 31.56px;
    z-index: -1;
  }

  .small-blue-circle {
    position: relative;
    width: 63px;
	height: 63px;
	background-color: var(--blue-color);
	border-radius: 100%;
    margin-bottom: 13px;
    margin-bottom: 13px;
    margin-left: 57px;
    margin-right: 56px;
    z-index: -1;
  }

  .small-green-circle {
    position: relative;
    width: 62.71px;
	height: 62.71px;
	background-color: var(--green-color);
	border-radius: 100%;
    margin-bottom: 14.22px;
    margin-left: 50.66px;
    margin-right: 49.62px;
    z-index: -1;
  }

.second-paragraph1 {
    font: 800 20px/24px 'Raleway';
    line-height: 24px;
    color: var(--black-color);
    margin-bottom: 19.11px;
    letter-spacing: 5.96px;
}

.second-paragraph2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: var(--black-color);
    margin-bottom: 19.11px;
    letter-spacing: 6px;
}

.second-paragraph3 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: var(--black-color);
    margin-bottom: 19.11px;
    letter-spacing: 5.96px;
}

.second-text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 17px;
    color: var(--lowgrey-color);
    text-align: center;
}














.third {
    display: flex;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 1395px;
    flex-direction: column;
}

.container2 {
    margin: 0 auto;
    width: 1124px;
}

.box4 {
    display: flex;
    height: 370px;
    width: 1124px;
    margin-top: 105px;
    margin-bottom: 37px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    justify-content: space-between;
}

.box5 {
    display: flex;
    height: 370px;
    width: 1124px;
    margin-bottom: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}

.box6 {
    display: flex;
    height: 370px;
    width: 1124px;
    margin-bottom: 105.33px;
    border: none;
    justify-content: space-between;
}

.red-rotate-square {
	width: 180px;
	height: 180px;
    transform: translateX(380px) translateY(-256px) rotate(45deg);    /*Tutaj dzięki tej opcji ustawiłem czerwoną figurę na oko ale dzięku temu poznałem nową opcję na przesuwanie po stronie*/
    background: var(--pnink-color) 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
}

.box4-title {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: var(--black-color);
    margin-bottom: 30px;
}

.box4-text {
    font-family: "Open sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.boxinbox4 {
    display: flex;
    flex-direction: column;
    width: 416px;
    height: 188px;
    margin-top: 91px;
    margin-left: 35px;
    margin-bottom: 91px;
}

.boxinbox4::after {
    content: "";
    display: block;
    height: 3px;
    background: var(--pnink-color);
    width: 340px;
}

.notebook2 {
    width: 386px;
    height: 219px;
    margin-top: 113px;
    margin-right: 117.56px;
    margin-left: 169px;
    position: relative;
    z-index: 2;
}



.blue-circle {
	width: 320px;
	height: 320px;
	background-color: var(--blue-color);
	border-radius: 100%;
    margin-top: 12px;
    margin-left: 70px;
    margin-bottom: 38px;
    position: absolute;           /*Dzięki tym trzem linijkom okrąg ustawił się dokładnie w lewym-górnym narożniku box5.*/
    top: 0;                         /*W box5 musi byćustawiona position: relative*/
    left: 0;
}

.box5-title {
    width: 246px;
    height: 84px;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 400;
    color: var(--black-color);
    margin-bottom: 30px;
}

.box5-text {
    font-family: "Open sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.boxinbox5 {
    display: flex;
    flex-direction: column;
    width: 416px;
    height: 230px;
    margin-top: 69px;
    margin-right: 20px;
    margin-bottom: 71px;
}

.boxinbox5::after {
    content: "";
    display: block;
    height: 3px;
    background: var(--blue-color);
    width: 340px;
}

.iphone {
    width: 426px;
    height: 328px;
    margin-top: 17px;
    margin-left: 70px;
    margin-right: 192px;
    position: relative;
    z-index: 2;
}


.box6a {
    display: flex;
    flex-direction: column;
    width: 623.04px;
    height: 370px;
    background: var(--white-color);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
}

.box6a-title {
    width: 348px;
    height: 84px;
    margin-top: 69.33px;
    margin-left: 35px;
    margin-bottom: 30px;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 400;
    color: var(--black-color);
}

.box6a-text {
    width: 553px;
    height: 72px;
    font-family: "Open sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 36px;
}

.box6a-text::after {
    content: "";
    display: block;
    height: 3px;
    background: var(--green-color);
    width: 340px;
}

.box6b {
    width: 440px;
    height: 370px;
    background: var(--green-color);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
}

.trumpet {
    width: 293.73px;
    height: 207.72px;
    margin-top: 98.21px;
    margin-right: 81.97px;
    margin-left: 62.31px;
    margin-bottom: 64.07px; /*to w sumie niepotrzebne ale dałem ;) */
}





.fourth {
    display: flex;
    height: 1306px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    justify-content: center;
}

.fourth-title {
    display: flex;
    font-family: 'Raleway';
    line-height: 42px;
    font-size: 36px;
    color: var(--black-color);
    justify-content: center;
    font-weight: 400;
    margin-top: 100px;
}

.boxes3 {
    display: flex;
    flex-direction: row;
    width: 1266px;
    height: 574px;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 43px;
    margin-bottom: 0px;
}

.box7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 372px;
    height: 461px;
    border: 1px solid var(--pnink-color);
    border-radius: 18px;
    opacity: 1;
    margin-top: 71px;
}

.box8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 405px;
    height: 500px;
    border: 1px solid var(--blue-color);
    border-radius: 18px;
    opacity: 1;
    box-shadow: 5px 10px 27px #07ACE629;
    margin-top: 50px;
    margin-bottom: 24px;
}

.box9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 372px;
    height: 461px;
    border: 1px solid var(--green-color);
    border-radius: 18px;
    opacity: 1;
    margin-top: 71px;
}

.box7title, .box9title {
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 700;
    color: var(--black-color);
    margin-top: 34px;
    margin-bottom: 14px;
}

.box8title {
    font-family: "Raleway";
    font-size: 21px;
    font-weight: 700;
    color: var(--black-color);
    margin-top: 34px;
    margin-bottom: 14px;
}

.box7dol {
    width: 59px;
    height: 64px;
    font-family: "Open Sans";
    font-size: 46px;
    font-weight: 300;
    color: var(--pnink-color);
    margin-bottom: 69px;
}

.box8dol {
    width: 93px;
    height: 70px;
    font-family: "Open Sans";
    font-size: 46px;
    font-weight: 300;
    color: var(--blue-color);
    margin-bottom: 5px;
}

.box8additional {
    width: 73px;
    height: 14px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 61px;
}

.box9additional {
    width: 73px;
    height: 14px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 50px;
}

.box9dol {
    width: 85px;
    height: 64px;
    font-family: "Open Sans";
    font-size: 46px;
    font-weight: 300;
    color: var(--green-color);
    margin-bottom: 5px;
}

.boxok-text, .boxno-text {
    font-family: "Open sans";
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 20px;
}

.boxok8-text, .boxno8-text {
    font-family: "Open sans";
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 25px;
}

.boxok-text::before {
    content: url("../assets/Ckechmark-1.svg");
    margin-right: 13px;
}

.boxno-text::before {
    content: url("../assets/Close.svg");
    margin-right: 13px;
}

.boxok8-text::before {
    content: url("../assets/Ckechmark-1.svg");
    margin-right: 13px;
}

.boxno8-text::before {
    content: url("../assets/Close.svg");
    margin-right: 13px;
}

.boxok-text:nth-last-of-type(1) {
    margin-bottom: 0px;
}

.boxno-text:nth-last-of-type(1) {
    margin-bottom: 0px;
}

.boxno8-text:nth-last-of-type(1) {
    margin-bottom: 0px;
}

.red-btn {
    display: flex;
    width: 150px;
    height: 50px;
    background: var(--pnink-color) 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    text-decoration: none;
    font-size: 13px;
    font-family: "Open sans";
    font-weight: 700;
    margin-top: 55px;
}

.red-btn:hover {
    display: flex;
    width: 150px;
    height: 50px;
    background: var(--white-color) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 5px 1px var(--pnink-color);
    color: var(--pnink-color);
    align-items: center;
 }

.blue-btn {
    display: flex;
    width: 165px;
    height: 50px;
    background: var(--blue-color) 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    text-decoration: none;
    font-size: 13px;
    font-family: "Open sans";
    font-weight: 700;
    margin-top: 63px;
}

.blue-btn:hover {
    display: flex;
    width: 165px;
    height: 50px;
    background: var(--white-color) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 5px 1px var(--blue-color);
    color: var(--blue-color);
    align-items: center;
}

.green-btn {
    display: flex;
    width: 150px;
    height: 50px;
    background: var(--green-color) 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    text-decoration: none;
    font-size: 13px;
    font-family: "Open sans";
    font-weight: 700;
    margin-top: 55px;
}

.green-btn:hover {
    display: flex;
    width: 150px;
    height: 50px;
    background: var(--white-color) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 5px 1px var(--green-color);
    color: var(--green-color);
    align-items: center;
}








.form .container {
    display: flex;
    flex-direction: row;
    width: 896px;
    height: 376px;
    margin-right: 0;
    justify-content: space-between;
    margin-left: 228px;
    margin-top: 155px;
}

.formA {
    display: flex;
    flex-direction: column;
}

.AQ {
    position: relative;
    width: 343px;
    height: 57px;
    font-family: "Raleway";
    font-size: 49px;
    font-weight: 400;
    margin-bottom: 22px;
    margin-right: 114px;
    letter-spacing: 0px;
text-align: left;
}

.underAQ {
    width: 265px;
    height: 22px;
    font-family: "Open sans";
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 40px;
}

.info {
    display: flex;
    flex-direction: row;    
}

.mail-text {
    display: flex;
    width: 182px;
    height: 22px;
    font-family: "Open sans";
    font-size: 16px;
    font-weight: 600;
    color:  var(--lowgrey-color);
    margin-right: 20px;
    align-items: center;
}

.phone-text {
        display: flex;
        width: 128px;
        height: 22px;
        font-family: "Open sans";
        font-size: 16px;
        font-weight: 600;
        color:  var(--lowgrey-color);
        align-items: center;
}

.mail-text::before {
    height: 27px;
    width: 27px;
    content: url('../assets/Mail\ Icon.svg');
    opacity: 1;
    margin-right: 10px;
}

.phone-text::before {
    height: 27px;
    width: 27px;
    content: url('../assets/Phone\ Icon.svg');
    opacity: 1;
    margin-right: 10px;
}

.form-text {
    display: flex;
    width: 440px;
    height: 157px;
    flex-direction: column;
    margin-top: 4px;
    font-family: "Open sans";
    font-weight: 700;
    font-size: 11px;
    color: var(--blue-color);
}

.form-input {
    height: 41.98px;
    border: none;
    border-bottom: 1px solid var(--mediumgrey-color);
    margin-bottom: 42px;
    outline: none;
    font-size: 15px;
    color: var(--highgrey-color);
}

.form-input:hover {
    box-shadow: 0px 0px 10px 0px rgba(8,166,228,1);
    border-radius: 3px;
}

.form-input2 {
    height: 43.02px;
    border: none;
    border-bottom: 1px solid var(--mediumgrey-color);
    margin-bottom: 34px;
    outline: none;
    font-size: 15px;
    color: var(--highgrey-color);
}

.form-input2:hover {
    box-shadow: 0px 0px 10px 0px rgba(8,166,228,1);
    border-radius: 3px;
}

.check {
    margin-top: 4px;
    margin-right: 10px;
}

.check:hover {
    margin-top: 4px;
    margin-right: 10px;
    box-shadow: 0px 0px 10px 0px rgba(8,166,228,1);
}

input[type="checkbox"] {                            /*dzięki temu mogę zmienić wygląd checkboxa*/
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
   
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #95989A;
    border-radius: 4px;
    background: var(--white-color);
    outline: none;
    position: relative;
}

.check:checked {
    background: var(--white-color);
}

.check:checked:after {
    content: url("../assets/Checkmark.svg");
    width: 12px;
    height: 11px;
    background: var(--white-color);
    position: absolute;
    transform: translate(46%, 26%);
}                                                   /*dzięki temu mogę zmienić wygląd checkboxa*/


.form-info {
    display: flex;
    flex-direction: row;
}

.paragraph {
    width: 405px;
    height: 108px;
    font-family: "Open sans";
    font-weight: 400;
    font-size: 12px;
    color: var(--highgrey-color);
}

.form-button {
    width: 226px;
    height: 57px;
    background: var(--blue-color);
    border: none;
    border-radius: 35px;
    box-shadow: 5px 10px 14px #07ACE629;
    font-size: 13px;
    font-family: "Open sans";
    font-weight: 700;
    color: var(--white-color);
    margin-top: 20px;
    margin-left: 213px;
}

.form-button:hover {
    width: 226px;
    height: 57px;
    background: var(--white-color) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 5px 1px var(--blue-color);
    color: var(--blue-color);
    cursor: pointer;
}






footer {
    display: flex;
    width: 100%;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px -5px 40px #00000029;
    opacity: 1;
}

.page-footer .container {
    display: flex;
    height: 89px;
    justify-content: space-between;
    align-items: center;
}

.left-side-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-side-footer {
    width: 68px;
    height: 24;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-title {
    width: 115px;
    height: 30px;
    font-family: "Raleway";
    font-weight: 300;
    font-size: 26px;
    color: var(--blue-color);
    margin-bottom: 6.52px;
}

.copyright {
    width: 214px;
    height: 15px;
    font-family: "Open sans";
    font-weight: 400;
    font-size: 11px;
    color: var(--lowgrey-color);
}

.link {
    width: 24px;
    height: 24px;
}

.link:hover {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    box-shadow: 0px 0px 11px 0px rgba(45,57,194,1);
    align-items: center;
}